* {
    margin: 0;
}

.layout-collapse {
    height: 100%;

    .home_container {
        .arco-card-body {
            
        }
    }
}

.app_header_popover {
    .arco-popover-content {
        padding: 4;
        padding-bottom: 0;

        .arco-menu-inner {
            padding: 0;
        }
    }
}

.arco-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.arco-result-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .arco-result-icon-tip {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

.system_container {
    .arco-tabs-header-nav-vertical {
        height: calc(100% - 20px);
    }

    .arco-tabs-content-vertical {
        height: calc(100% - 20px);
    }
}