* {
    margin: 0;
}

.layout-collapse {
    height: 100%;
}

.arco-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.arco-result-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .arco-result-icon-tip {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}
